<div class="container" style="background-color: floralwhite">
  <h2 style="text-align: center">Employees Timesheet Dashboard</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Logged Work Days</th>
        <th>Available Vacations</th>
        <th>Log Your Work</th>
        <th>Apply Vacations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.employeeName }}</td>
        <td>{{ employee.employeeType }}</td>
        <td>{{ employee.workDays }}</td>
        <td>{{ employee.vacationDays }}</td>
        <td>
          <button
            class="btn btn-lg btn-outline-primary"
            (click)="open(content, employee)"
          >
            Log Your Work
          </button>
        </td>
        <td>
          <button
            class="btn btn-lg btn-outline-primary"
            (click)="open(contentvacation, employee)"
          >
            Apply for Vacation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Log Your Work</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true"> X </span>
    </button>
  </div>
  <div class="modal-body">
    <form #logWorkForm="ngForm">
      <div class="form-group">
        <label for="logwork"> Log Your Work </label>
        <div class="input-group">
          <input
            id="logwork"
            class="form-control"
            placeholder="Log work"
            name="logwork"
            type="number"
            min="1"
            max="260"
            [(ngModel)]="workDays"
            required
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="logWork()">
      Save
    </button>
  </div>
</ng-template>

<ng-template #contentvacation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Apply for Vacation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true"> X </span>
    </button>
  </div>
  <div class="modal-body">
    <form #vacationForm="ngForm">
      <div class="form-group">
        <label for="vacation"> Apply for vacation </label>
        <div class="input-group">
          <input
            id="vacation"
            class="form-control"
            placeholder="Vacations"
            name="vacation"
            type="number"
            [(ngModel)]="vacations"
            required
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="takeVacation()">
      Save
    </button>
  </div>
</ng-template>
